{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
    <div class="text-center form-signin">
        <h1>{% trans "Set Password" %}</h1>
    </div>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set form-signin">
        {% csrf_token %}
        {% include 'account/snippets/bs4_form.html' with form=form %}
        <input type="submit" name="action" class="btn btn-info btn-block mt-4" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
