{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="text-center form-signin">
  <h1>{% trans "Sign Up" %}</h1>
  <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
</div>

<form class="form-signin" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {% include 'account/snippets/bs4_form.html' with form=form %}

  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}

  <button class="btn btn-info btn-block mt-4 mb-2" type="submit">{% trans "Sign Up" %}</button>
  <div class="text-center">
    <a href="{% url 'article-list' %}">回到首页</a>
  </div>
</form>

{% endblock %}
