{% extends "./base.html" %}
{% load static %}
{% load blog_tags %}

{% block main %}

  {% if filter_items %}
    <div class="p-3 border-bottom">
      {% for k, v in filter_items.items %}
        {{ k }}：<strong>{{ v }}</strong>&emsp;&emsp;
      {% endfor %}
    </div>
  {% endif %}

  {% if article_list %}
    {% for article in article_list %}
      <div class="blog-post">
        <h2 class="blog-post-title">
          <a class="text-muted" href="{% url 'article-detail' article.id %}">
            {% if article.on_top %}
              <strong>【置顶】</strong>
            {% endif %}
            {{ article.title }}
          </a>
        </h2>
        <p class="blog-post-meta my-3">分类：
          <a class="p-1 text-muted" href="{% url 'article-list' %}?category={{ article.category.id }}">
            <u>{{ article.category }}</u></a>&emsp;
          {{ article.pub_time }} by
          <a class="text-muted" href="{% url 'article-list' %}"><u>{{ article.author }}</u></a></p>
        {% if not article.desc %}
          {{ article.content_html|truncatechars_html:blog_setting.article_sub_length|safe }}
        {% else %}
          {{ article.desc|safe }}
        {% endif %}
        <p>......</p>
        <div class="pt-2">
          <a class="text-muted" href="{% url 'article-detail' article.id %}"><u>阅读完整内容</u></a>
        </div>
        <div class="nav d-flex justify-content-between pt-3">
          <div>
            <span>标签：</span>
            {% for tag in article.tag.all %}
              <a class="p-1 text-muted" href="{% url 'article-list' %}?tag={{ tag.id }}"><u>{{ tag }}</u></a>
            {% endfor %}
          </div>
          <div>
            <a class="p-2 text-muted" href="{% url 'article-detail' article.id %}#commentForm"><u>发表评论</u></a>
            <span>{{ article.comment_num }} 评论</span>&ensp;
            <span>{{ article.pv }} 阅读</span>
          </div>
        </div>
        <hr>
      </div><!-- /.blog-post -->
    {% endfor %}
  {% else %}
    <div class="p-3">
      <p>没有文章</p>
    </div>
  {% endif %}

  {% if page_obj %}
    <nav class="blog-pagination">
      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info" href="?{% query_transform request page=page_obj.previous_page_number %}">上一页</a>
      {% else %}
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">上一页</a>
      {% endif %}
        Page {{ page_obj.number }} of {{ paginator.num_pages }}.
      {% if page_obj.has_next %}
        <a class="btn btn-outline-info" href="?{% query_transform request page=page_obj.next_page_number %}">下一页</a>
      {% else %}
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">下一页</a>
      {% endif %}
    </nav>
  {% endif %}

{% endblock %}
